.sheet-container {
    height: 32px;
    margin-bottom: 5px;
}

.sheet-name {
    -unity-font-style: bold;
    -unity-text-align: middle-left;
}

.sheet-id {
    -unity-text-align: middle-left;
}

.sheet-list {
    flex-grow: 1;
    margin-left: 15px;
    -unity-font-style: bold;
}
