.namedRange-root {
    flex-grow: 1;
    height: 32px;
}

.namedRange-name {
    -unity-text-align: middle-left;
    -unity-font-style: normal;
}

.namedRange-id {
    -unity-text-align: middle-left;
    -unity-font-style: normal;
}
