.panel {
    background-color: rgb(56, 56, 56);
}

.lang-element,
.lang-element-selected,
.sheet-element {
    border-color: rgb(0, 0, 0);
    background-color: #4d4d4d;
}

.spreadsheet-panel {
    border-color: rgb(0, 0, 0);
    background-color: #4d4d4d;
}