.window-root {
    flex-grow: 1;
    max-height: initial;
}

.import-container > #content{
    flex-direction: row;
}

.add-new-spreadsheet {
    flex-grow: 1;
}

.tab-spreadsheets-container {
    flex-grow: 1;
    flex-shrink: 0;
    max-height: initial;
}
